.detail {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    background: url(https://i.pinimg.com/564x/e0/79/62/e079627bf8ebd450fa9b35a58694bf8e.jpg);
    height: 100%;
}

.backDetail {
height: 100vh;
}



.detailInfo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 100px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 0.25s;
    background-color: rgb(103, 169, 227);
    width: 50%;
    height: 40rem;
    margin-top: 150px;
    margin-left: 200px;
}

.detailInfo:hover {
    transform: translateY(-30px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);

}

.imgDetail {
    width: 90%;
    height: 70vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 0.25s;
    border-radius: 100px;
    margin-top: 150px;


}

.imgDetail:hover {
    transform: translateY(-30px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);

}

.back {
    border-radius: 9px;
    text-decoration: none;
    background-color: transparent;
    color: black;
    font-size: 150%;
    border: 3px solid;
    padding: 10px 30px;
    height: 90%;
    margin-left: 40px;
}

.ulDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 150%;
    font-weight: 500;
    margin-left: 80px;
}

.loading{
    position:absolute;
    margin-left: 300px;
    height: 100%;
    width: 70%;
    background-image: url('../img/e3575db1b9ca7b7a87b9c415c3fa09ce.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}