

.dogHome {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
}

.topHome {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(169,21,185,1) 50%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 0px;
}

.buttonCreate2  {
    border-radius: 9px;
    text-decoration: none;
    background-color: transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    border: 3px solid;
    padding: 0px 30px;
    height: 70%;
}

.Filters {
    display: flex;
    justify-content: space-evenly;
}

select {
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    border: 3px solid;
    padding: 0px 30px;
    height: 80%;
    margin: 20px;
}

.buttonCreate3 {
    border-radius: 9px;
    text-decoration: none;
    background-color: transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    border: 3px solid;
    padding: 0px 30px;
    height: 70%;
}

